body{
    background-image: url("pattern.png");
}
header{
    background-color: rgb(10, 10, 10);
    color: white;
    text-align: right;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 300%;
    min-width: 535px; 
}
.container{
    /* background: grey; */
    color: white;
    margin: 150px auto;
    height: 600px;
    max-width: 1440px;
    border-top: 3px solid rgb(10, 10, 10);
    border-bottom: 3px solid rgb(10, 10, 10);
}
.thumb-img{
    margin: 5px;
}
div{
    height: 100%;
}
.row{
    margin-bottom: 25px;
}
.spacer{
    display: none;
    height: 5%;
    
}
.float-left{
    height: auto;
}
@media screen and (max-width: 600px) {
    /* EXTRA SMALL */
    .name{
      text-align: left;
      font-size: 35%;
    }
    .text{
        max-height: 35%;
    }
    .spacer{
        display: block;
        height: 55%;
    }
}